@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');

:root {
    --white: #fff;
    /*--background: #F1F9;*/
    --background: #F1F4F9;
    /* --purple: #676BC4; */
    --purple: #5E65EB;
    --border-input: #B9BCF4;
    --background-input: #F1F4F9;
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media (max-width: 720px) {
    html {
        font-size: 87.5%;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    color: #666;
}

body, input, textarea, button {
    font: 400 1rem "Nunito", sans-serif;
}

button {
    cursor: pointer;
}